.video-frame__root {
    display: grid;
    align-items: center;
    justify-content: center;
}

.video-frame__content {
    min-width: 400px;
    min-height: 400px;
}

.video-frame__controls {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.video-frame__button {
    font-size: 22px;
    min-width: 28px;
}
